openapi: 3.0.3

info:
  title: Purkukartoitus Service
  description: Server for sending requests to Purkukartoitus API
  version: "0.1"

paths:
  '/v1/system/ping':
    get:
      operationId: ping
      summary: Replies with pong
      description: Replies ping with pong
      tags:
        - System
      responses:
        "200":
          description: Pong
          content:
            text/plain:
              schema:
                type: string
  '/v1/items/{userId}':
    get:
      operationId: userItems
      summary: Get user's items
      description: Gets all reusable items that belong to the current user
      tags:
        - Items
      parameters:
        - name: userId
          required: true
          in: path
          description: Current user's id
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Items
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Item"
        "400":
          description: Invalid request was sent to the server
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Attempted to make a call with unauthorized client
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  
  '/v1/items/{itemId}':
    get:
      operationId: itemInfo
      summary: Gets item info
      description: Gets item info for Form
      tags:
        - Items
      parameters:
        - name: itemId
          required: true
          in: path
          description: itemId
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Item
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PKItem"
        "400":
          description: Invalid request was sent to the server
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Attempted to make a call with unauthorized client
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Error:
      type: object
      description: Error object
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
    Item:
      type: object
      description: Reusable item object
      required:
        - reusableId
        - componentName
        - surveyId
        - streetAddress
      properties:
        reusableId:
          type: string
          format: uuid
          description: ID of the reusable item
          readOnly: true
        componentName:
          type: string
          description: Name of the building component
        surveyId:
          type: string
          format: uuid
          description: ID of the survey where the item belongs to
          readOnly: true
        streetAddress:
          type: string
          description: Street address of the building
    PKItem:
      type: object
