.date-input, .date-error{
    width: 100%;
    background-color: #fff;
    border: 1px solid #CBD5E0 ;
    height: 35px;
    border-radius: 3px;
    padding: 5px;
}

.date-error {
    width: 100%;
    background-color: #fff;
    border: 2px solid red ;
    height: 35px;
    border-radius: 5px;
    padding: 5px;
}