#npx swagger-typescript-api -p ./openapi.yaml -o ./api -n api.ts

openapi: 3.0.3
info:
  version: 0.1.0
  title: CC-Backend API-spec

#security:
#  - bearerAuth: []

paths:
  /:
    get:
      operationId: root
      summary: Empty root for ui
      description: Nothing here yet
      tags:
        - System
      responses:
        "200":
          description: Seems to work
          content:
            text/plain:
              schema:
                type: string

  /v1/system/ping:
    get:
      operationId: ping
      summary: Replies with pong
      description: Replies ping with pong
      tags:
        - System
      responses:
        "200":
          description: Pong
          content:
            text/plain:
              schema:
                type: string

  /v1/user:
    post:
      operationId: afterLogin
      summary: User has logged in
      description: TODO
      tags:
        - User
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserInfo"
        description: Payload
        required: true
      responses:
        "200":
          description: Added User info
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserInfo"
        "400":
          description: Invalid request was sent to the server
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Attempted to make a call with unauthorized client
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/items/{userId}:
    get:
      operationId: getItemsFromPK
      summary: Get all items from PK and CC-db
      description: Gets all items via CC-PK-service and CC-db-service
      tags:
        - Item
      parameters:
        - name: userId
          required: true
          in: path
          description: userId from which to list reusable items
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Items
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Item"
        "400":
          description: Invalid request was sent to the server
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Access token missing or invalid
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"  
        "403":
          description: Attempted to make a call with unauthorized client
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  
  /v1/itemInfo/{itemId}:
    get:
      #security:
      # - bearerAuth: []
      operationId: getItemInfoForm
      summary: Gets item info for form from PK and CC-db
      description: Gets item info for Form from PK via CC-PK-service and configs and drafts from CC-db-service
      tags:
        - Item
      parameters:
        - name: itemId
          required: true
          in: path
          description: itemId
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Item
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ItemInfo"
        "400":
          description: Invalid request was sent to the server
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Attempted to make a call with unauthorized client
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  
  /v1/config/{userId}:
    post:
      operationId: postConfig
      summary: Posts configuration
      description: TODO
      tags:
        - Config
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Config"
        description: Payload
        required: true
      parameters:
        - name: userId
          required: true
          in: path
          description: userId
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Config
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Config"
        "400":
          description: Invalid request was sent to the server
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Attempted to make a call with unauthorized client
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/advert:
    post:
      operationId: postAdvert
      summary: Posts advert to MT
      description: Posts advert to MT via MT-service
      tags:
        - Advert
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Advert"
        description: Payload
        required: true
      responses:
        "200":
          description: Advert posted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdvertInfo"
        "400":
          description: Invalid request was sent to the server
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Attempted to make a call with unauthorized client
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/login/{apiId}:
    post:
      operationId: login
      summary: Login user
      description: Logins user to an API and generates access token if succesful. Returns both generated token and the token from the API
      tags:
        - Login
      parameters:
        - name: apiId
          required: true
          in: path
          description: API id
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
                type: object
                properties:
                  username:
                    type: string
                  password:
                    type: string
      responses:
        "200":
          description: Succesful login
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    format: uuid
                  backend_token:
                    type: string
                    format: uuid
        "400":
          description: Invalid request was sent to the server
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/apistatistics:
    get:
      operationId: getApiStatistics
      summary: Get API statistics
      tags:
        - Apis
      responses:
        '200':
          description: Get API statistics
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GetApiStatistic'
        '404':
          description: Not found
        '500':
          description: Service error
    post:
      operationId: postApiStatistics
      summary: Post API statistics
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostApiStatistic'
        required: true
      tags:
        - Apis
      responses:
        '200':
          description: Success
        '404':
          description: Not found
        '500':
          description: Service error

  /v1/users/count:
    get:
      operationId: getUserCount
      summary: Get user count
      tags:
        - Users
      responses:
        '200':
          description: Get user count
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUserCount'
        '404':
          description: Not found
        '500':
          description: Service error
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  
  schemas:

    Error:
      type: object
      description: Error object
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
    
    Advert:
      type: object
      description: Advert object
      required:
       - type
       - data
       
      properties:
        type:
          type: string
        data:
          type: object
          properties:
            title:
              type: string
            expires:
              type: string
              format: date-time
            contactIsPublic:
              type: boolean
            contact:
              type: object
              properties:
                name:
                  type: string
                title:
                  type: string
                phone:
                  type: string
                email:
                  type: string
                  format: email
            materials:
              type: array
              items:
                type: object
                properties:
                  classification:
                    type: string
                  subClassification:
                    type: string
                  industry:
                    type: string
                  isWaste:
                    type: boolean
                  quantity:
                    type: object
                    properties:
                      amount:
                        type: integer
                      unitOfMeasure:
                        type: string
                      continuity:
                        type: string
                      amountDescription:
                        type: string
                  locationIsPublic:
                    type: boolean
                  location:
                    type: object
                    properties:
                      name:
                        type: string
                      address:
                        type: string
                      postalcode:
                        type: string
                      city:
                        type: string
                      cityId:
                        type: string
                      region:
                        type: string
                      regionId:
                        type: string
                      countryCode:
                        type: string
            attachments:
              type: array
              items:
                type : object
                properties:
                  id:
                    type: string
                  fileName:
                    type: string
                  contentType:
                    type: string
                  length:
                    type: integer
            regions:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: string
                  nameFi:
                    type: string
                  nameSv:
                    type: string
      
    AdvertInfo:
      type: object
             
    Config:
      type: object
      required:
        - userId
        - collectionId
      properties:
        userId:
          type: string
          format: uuid
        collectionId:
          type: string
        expiryDate:
          type: string
        contactName:
          type: string
        contactAddress:
          type: string
        contactEmail:
          type: string
        locationAddress:
          type: string
        locationZipCode:
          type: string
        locationMunicipality:
          type: string

    ItemInfo:
      type: object
      description: Information about PK API's item
      required:
        - componentName
        - reusableMaterialId
        - usability
        - metadata
      properties:
        title:
          type: string
          description: Initial title for the form
        material:
          type: string
          description: What type of material the item is
        unit:
          type: string
          description: Unit enum
        amount:
          type: integer
          format: int32
          description: Amount of reusable material
        streetAddress:
          type: string
          description: Address of the building
        zipCode:
          type: string
          description: Zip code of the building
        area:
          type: string
          description: Area of the building
        images:
          type: array
          items: 
            type: string
          description: Attachment images for the reusable item

    Metadata:
      type: object
      description: Metadata object
      properties:
        creatorId:
          type: string
          format: uuid
          description: ID of creator
          readOnly: true
        createdAt:
          type: string
          format: date-time
          description: Created date
          readOnly: true
        lastModifierId:
          type: string
          format: uuid
          description: Id of last modifier
          readOnly: true
        modifiedAt:
          type: string
          format: date-time
          description: Date modified
          readOnly: true

    Item:
       type: object
       description: Reusable item object
       required:
         - reusableId
         - componentName
         - surveyId
         - streetAddress
       properties:
         reusableId:
           type: string
           format: uuid
           description: ID of the reusable item
           readOnly: true
         componentName:
           type: string
           description: Name of the building component
         surveyId:
           type: string
           format: uuid
           description: ID of the survey where the item belongs to
           readOnly: true
         streetAddress:
           type: string
           description: Street address of the building

    UserInfo:      
      type: object
      required:
        - api
        - username
      properties:
        api:          
          type: string        
        username:          
          type: string

    GetApiStatistic:
      type: object
      properties:
        id:
          type: string
          format: uuid
        api:
          type: string
          format: uuid
        success:
          type: boolean
        statisticType:
          type: string
        timeStamp:
          type: string
    PostApiStatistic:
      type: object
      required:
        - api
        - success
        - statisticType
      properties:
        api:
          type: string
          format: uuid
        success:
          type: boolean
        statisticType:
          type: string
    GetUserCount:
      type: object
      properties:
        count:
          type: number